/******************************************************************************/
/*                                                                            */
/*                                                                            */
/*   resource.rc                                           by CanTale_Games   */
/*                                                                            */
/*                                                                            */
/******************************************************************************/

#ifndef RESOURCE_RC
# define RESOURCE_RC

MAIN ICON "icon.ico"

#endif
